.review_title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    clear: both;
}

.project_name {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    margin: 0 0 0 5%;
}

.project_author {
    display: inline-block;
    text-align: left;
    font-style: italic;
    width: 65%;
    margin: 0 0 0 5%;
}

.project_category {
    display: inline-block;
    text-align: right;
    width: 25%;
    margin: 0 5% 0 0;
    font-weight: 300;
}

.project_description {
    text-align: left;
    margin: 20px 10% 20px 10%;
}

.review_object {
    height: 300px;
    width: 300px;
}

.no_files {
    text-align: center;
    font-style: italic;
}
