
.category_title {
	text-align: left;
	font-family: 'Courier New', Courier, monospace;
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	text-align: left;
}

.browse_all {
	text-align: left;
	margin: 0 0 5px 0;
}

@media only screen and (max-width: 600px) {
	.categories_content {
		width: 95%;
		height: auto;
		min-height: 80vh;
		background-color: white;
		margin: 20px 0 70px 2.5%;
		padding: 2.5% 0% 40px 0%;
		border: 1px solid rgb(180, 180, 180);
	}
}

@media only screen and (min-width: 600px) {
	.categories_content {
		width: 80%;
		height: auto;
		min-height: 80vh;
		background-color: white;
		margin: 20px 0 70px 10%;
		padding: 2.5% 5% 40px 5%;
		border: 1px solid rgb(180, 180, 180);
	}
}
