.display_tile {
    height: auto;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
}

.display_object_holder {
    height: 250px;
    width: 100%;
  
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.display_content {
    color: white;
    height: 35px;
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */

    padding: 5px 0 0 0;

    /* background-color: rgb(139, 139, 255); */
    background-image: url('../images/blueprint.jpg');
    background-position: center;
    background-size: cover;
}
