/* Right Div */
.upload_files {
    width: 100%;
    height: 100%;
    margin: 20px 1.5% 0 0;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.file_output {
    height: auto;
    min-height: 40px;
    text-align: center;
    padding: 2% 0 0 0;
    width: 90%;
    margin: 10px 0 5px 5%;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
}

.upload_title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 20px 0;
}