
.jumbotron {
    border-radius: 0;
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        height: 200px;
        width: 100%;
        margin: 0;
        padding: 0;
        background-image: url('../images/banner.jpg');
        background-position: center;
    }
}

@media only screen and (min-width: 601px) {
    .jumbotron {
        height: 250px;
        margin: 0;
        padding: 0;
        width: 100%;
        background-image: url('../images/banner.jpg');
        background-position: center;
        background-size: cover;
    }
} 
