.SetObject {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

.SetObject_loader {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
