.ov_project_name {
	font-size: 1.75rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: left;
}

.ov_project_category {
	text-align: left;
	font-weight: 300;
	font-size: 1.15rem;
}

.ov_display_object_holder {
	height: 40vh;
	width: 80%;
	margin: 0 0 0 10%;
	overflow: hidden;
}

@media only screen and (max-width: 699px) {
	.display_object_holder {
		height: 50vw;
		width: 100%;
	}
}
