.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #26059e;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    margin: 0 auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }