
.landing {
    color: black;
}

.object_container {
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 10px;
}

.sub_title {
    text-align: left;
    margin: 0 0 0 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
        margin: 0 0 100px 5%;
    }
    
} 


@media only screen and (min-width: 900px) {
    
    .content {
        width: 80%;
        margin: 0 0 100px 10%;
    }

}