
.landing {
    color: black;
}

.content {
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    border-top: 5px solid rgb(65, 65, 255);
}

.object_container {
    display: inline-block;
    height: auto;
    width: auto;
    margin: 10px;
}

.sub_title {
    text-align: left;
    font-size: 18px;
    margin: 0 0 5px 0;
}

.landing_link {
    text-align: right;
    margin: -10px 15px 10px 0px;
    font-size: 18px;
}

.cat {
    display: inline-block;
    height: 18vw;
    min-height: 150px;
    width: 18vw;
    min-width: 150px;
    margin: 10px;
    border: 1px solid black;
    vertical-align: top;
    overflow: hidden;

    background-position: center;
    background-size: cover;
}

.tdprint {
    background-image: url('../images/3dprint.png');
}

@media only screen and (max-width: 699px) {
    .content {
        width: auto;
        margin: 20px 2.5% 20px 2.5%;
    }  
    .object_container {
        width: 80%;
    }
    
    .cat {
        width: 40vw;
        min-width: 0;
        min-height: 0;
        height: 40vw;
    }
} 

@media only screen and (min-width: 700px) {
    .hide_on_shrink {
        display: none;
    }
    .object_container {
        width: 40%;
        margin: 10px 2.5% 10px 2.5%;    
    }
    
    .content {
        width: auto;
        margin: 20px 2.5% 20px 2.5%;
        padding: 10px 10px 0 10px;
    }
} 

@media only screen and (min-width: 1100px) {
    .hide_on_shrink {
        display: inline-block;
    }
    
    .content {
        width: 90%;
        margin: 20px 0 20px 5%;
        padding: 10px 10px 0 10px;
    }

    .object_container {
        margin: 10px 20px;    
        width: 45%;
    }
}