#ns_header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 80%;
    margin: 50px 0 0 10%;
}

#ns_subheader {
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    margin: 0 0 0 10%;
}

#ns_hr {
    width: 80%;
    margin: 0 0 30px 10%;
}

#ns_p {
    
    margin: 50px 0 0 20px;
    text-align: center;
}

#ns_link {
    text-align: center;
    margin: 100px 0 80px 0;
}

#ns_stage {
    margin: 50px 0 0 50%;
    transform: translate(-50%, 0);
}

.ns_spinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #0f2027;
    background: #2c5364da;
    box-shadow: inset 0 0 20px #0f2027; 
}

.ns_spinner .ns_face1 { 
    -webkit-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
}
.ns_spinner .ns_face2 { 
    -webkit-transform: rotateY(90deg) translateZ(60px); 
    -ms-transform: rotateY(90deg) translateZ(60px); 
    transform: rotateY(90deg) translateZ(60px); 
}
.ns_spinner .ns_face3 { 
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px); 
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px); 
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px); 
}
.ns_spinner .ns_face4 { 
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); 
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); 
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); 
}
.ns_spinner .ns_face5 { 
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); 
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); 
}
.ns_spinner .ns_face6 { 
    -webkit-transform: rotateX(-90deg) translateZ(60px); 
    -ms-transform: rotateX(-90deg) translateZ(60px); 
    transform: rotateX(-90deg) translateZ(60px); 
}

.ns_spinner {
    -webkit-animation: spincube 12s ease-in-out infinite;
    animation: spincube 12s ease-in-out infinite;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
}

@-webkit-keyframes spincube {
    16%      { -webkit-transform: rotateY(-90deg);                }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { -webkit-transform: rotateY(180deg) rotateZ(90deg); }
    66%      { -webkit-transform: rotateY(90deg) rotateX(90deg);  }
    83%      { -webkit-transform: rotateX(90deg);                 }
}
@keyframes spincube {
    16%      { -ms-transform: rotateY(-90deg); transform: rotateY(-90deg); }
    33%      { -ms-transform: rotateY(-90deg) rotateZ(90deg); transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { -ms-transform: rotateY(180deg) rotateZ(90deg); transform: rotateY(180deg) rotateZ(90deg); }
    66%      { -ms-transform: rotateY(90deg) rotateX(90deg); transform: rotateY(90deg) rotateX(90deg); }
    83%      { -ms-transform: rotateX(90deg); transform: rotateX(90deg); }
}


@media only screen and (max-width: 600px) {

    #ns_header {
        font-size: 30px;
    }

    #ns_subheader {
        font-size: 20px;
    }

    #ns_link {
        margin: 60px 0 80px 0;
    }

}
